<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans  
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context  
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/mvc      
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/util   
          http://www.springframework.org/schema/util/spring-util.xsd
          http://www.springframework.org/schema/cache
          http://www.springframework.org/schema/cache/spring-cache.xsd">
    <context:property-placeholder location="classpath*:base-service.conf,classpath*:spring/redis.properties"
                                  ignore-unresolvable="true"/>
    <!-- 注解探测器 -->
    <!--先不加载Controller是为了使事务生效 -->
    <context:component-scan base-package="com.esther.code">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 注解声明 -->
    <cache:annotation-driven cache-manager="ehRedisCacheManager" key-generator="cacheKeyGenerator" mode="proxy"
                             proxy-target-class="true"/>
    <bean id="cacheKeyGenerator" class="com.esther.code.cache.CacheKeyGenerator"/>

    <!--数据源-->
    <import resource="classpath*:/spring/spring-datasource.xml"/>

    <!--ehcache 缓存-->
    <import resource="classpath*:/spring/spring-ehcache.xml"/>
    <!--redis缓存-->
    <import resource="classpath*:/spring/spring-redis.xml"/>
    <!--两级缓存，一级:EhCache,二级为redis Cache-->
    <import resource="classpath*:/spring/spring-ehcache-redis.xml"/>


    <!--管道-->
    <import resource="classpath*:/spring/pipeline.xml"/>

    <!--流程-->
    <import resource="classpath*:/spring/flow-context.xml"/>

    <!-- dubbo 服务  -->
    <import resource="classpath*:spring/dubbo-provider.xml"/>
    <bean id="parent" name="name1, name2, name3" class="com.esther.code.entity.Parent"
          scope="singleton" lazy-init="true" init-method="init" destroy-method="cleanup">

        <!-- 可以用下面三种形式指定构造参数 -->
     <!--   <constructor-arg type="int" value="1"/>
        <constructor-arg name="name" value="parent"/>
        <constructor-arg index="2" value="10000"/>-->
        <property name="age" value="25"/>

        <!-- property 的几种情况 -->
        <!-- <property name="child">
             <ref bean="child"/>
         </property>-->
        <!--<property name="child" ref="child"/>-->
    </bean>
    <bean id="child" class="com.esther.code.entity.Child">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="child"/>
        <constructor-arg name="salary" value="5000"/>
        <property name="age" value="18"/>
    </bean>

</beans>