<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE-APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%X{traceId}/%l] - %m%n"/>
        </layout>
    </appender>

    <logger name="VIVOCFG-CLIENT" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.framework}"/>
    </logger>

    <logger name="COMMON-LOGGER" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.framework}"/>
    </logger>
    <logger name="PAGE-DIGEST" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.framework}"/>
    </logger>
    <logger name="RPC-CLIENT-DIGEST" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.framework}"/>
    </logger>

    <logger name="RPC-SERVER-DIGEST" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.framework}"/>
    </logger>

    <logger name="com.vivo.jovi" additivity="true">
        <level class="org.apache.log4j.Level" value="${log4j.logger.level.biz}"/>
    </logger>

    <root>
        <priority value="${log4j.root.priority}"/>
        <appender-ref ref="CONSOLE-APPENDER"/>
    </root>
</log4j:configuration>